# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# Environment variables
.env
.env.*

# Database
*.db
*.sqlite3

# Uploads
uploads/

# Node
node_modules/

# IDE
.vscode/
.idea/

# Logs
*.log